.idea/
/build/
/compile_commands.json
/Testing/
/binaries
*.so
/zappy_ai
/zappy_gui
/zappy_server
/zappy_server_debug
compile_flags.txt
*.pdf
test_binaries/
*issues.md
/lib
.markdownlint.json
*__pycache__*
binary_ref/
logs/
*.log
*.sh